.advice-container {
    background-color: #E85946;
    color: #fff;
    width: 100%;
    border-radius: 5px; 
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    grid-column: span 2;
}

.advice-title{
    color: #fff; text-align: center;
    padding-bottom: 5px; font-size: medium;
    border-bottom: #fff solid 1px;
}

.advice-content{
    padding: 10px;
    display: flex; flex-direction: row;
    justify-content: space-around;
}

.advice-content-text{
    padding-left: 20px;
    font-size: 14px;
}