 
.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 16px;
}

.dashboard-card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
    text-align: center; 
    position: relative;
}

.dashboard-card.full-width {
    grid-column: 1 / -1;
}

.card{
    display: flex; justify-content: space-around;
}

.card-content{
    font-size: small;
}
  
.card-content-title{
    display: flex; flex-direction: row;
    align-items: center; justify-content: space-between;
    font-size: 13px;
}
.card-content-title-content{
    position: absolute; 
    top: 5px; left: 15px;
    font-weight: bold;
}
.card-content-title .circle{
    position: absolute; 
    top: 5px; right: 1px;
}

.dashboard-advice {
    grid-column: span 2; /* Prendre toute la largeur en bas */
    background: #e7f5ff; /* Couleur de fond différente pour le conseil */
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centrer le texte */
}
  
.circle {
    width: 20px; /* Taille de la boule */
    height: 20px;
    border-radius: 50%; /* Pour faire un cercle */
    margin-right: 15px; /* Espace entre la boule et le contenu */
}

.button{
    width: 100px;
    margin: 10px auto; padding: 5px;
    font-size: 12px; 
    display: flex; align-items: center;
    justify-content: center; 
    border-radius: 5px;
}

.green-button{
    background-color: #48BB78;
    color: white; 
}
.green-button img{
    background-color: transparent;
    margin-left: 5px;
}

.card-content-main{
    margin-top: 30px;
}
.user-objectif{
    font-weight: bold; font-size: 11px;
}