
/* .ion-tab-bar-container{
  height: 50px;
  position: absolute; bottom: 20px;
} */

@media (prefers-color-scheme: dark) {
  ion-tabs {
    background-color: #222222 !important;
    color: #ffffff !important;
  }
}

.ion-tab-bar-container {
  background-color: #fff; 
}
.ion-tab-bar{
  bottom: 15px;                 /* 5px d'espace au-dessus du bas de la page */
  left: 0;
  right: 0;
  border-radius: 10px 10px 10px 10px; /* Coins arrondis en haut de la barre */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre légère pour l'effet de surélévation */
  z-index: 9999 !important;
  max-width: 350px;
  margin: 0 auto;
  border-radius: 8px;
  height: 50px;
  background-color: #ffffff !important; 
  opacity: 1 !important;                
  visibility: visible !important;
}
.custom-tab-bar {            
  border-top: 1px solid #ddd; /* Ajouter une bordure au-dessus du TabBar */
  display: flex;               /* Active le mode Flexbox pour le parent */
  justify-content: space-around; /* Espace égal entre les boutons */
  align-items: center;
  border: 1px solid transparent; 
}
  
.custom-tab-button {
  --color: #333; /* Couleur de l'icône non sélectionnée */
  --color-selected: #3880ff; /* Couleur de l'icône sélectionnée */
  font-size: 14px; /* Taille de la police */
  display: flex;               /* Active le mode Flexbox pour le bouton */
  flex-direction: column;      /* Pour que l'icône et le texte soient alignés verticalement */
  align-items: center;         /* Centre l'icône et le texte à l'intérieur du bouton */
  height: 25px;
  justify-content: center;
}

.custom-tab-button:first-child{
  height: 30px;
}

.custom-tab-button:first-child div{
  display: flex; flex-direction: row;
  align-items: center;         
  justify-content: space-between;
  border: 1px #E85946 solid transparent; border-radius: 10px;
  background-color: #E85946;
  padding: 5px;
}
.custom-tab-button:first-child div *{
  color: #fff;
  padding: 2px;
}

.custom-tab-button ion-icon {
  font-size: 24px;
}

.custom-tab-button:hover {
  --color: #007bff; 
}
  