.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.auth-form-title{
    display: none;
}
  
.auth-input {
    width: 100%; max-width: 350px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}
  
.auth-button {
    max-width: 350px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 3px;
    margin-top: 5px;
}
.auth-button-swicth{
    color: rgba(0, 0, 0, 0.99); background-color: transparent;
    padding-top: 3px; padding-bottom: 3px;
    
}