.phone-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);   */
  
    gap: 10px;
}

.input-container{
    display: flex; flex-direction: column;
}
  
.phone-input,
.verification-input {
    width: 100%;
    padding: 12px 20px;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.phone-input{
    border-radius: 10px;
    margin-bottom: 5px;
}
.phone-input:checked{
    border: 2px solodi #1d4b53;
}
  
.phone-button {
    max-width: 350px;
    /* background-color: #4CAF50; */
    background-color: #042f85;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 3px;
    margin-top: 5px;
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 0.9em;
}